@CHARSET "UTF-8";

.baniere {
	position: relative;
	margin: 0px 20px 0px 20px;
	padding: 20px 0px 0px;
	color: #fff;
}

footer {
	position: relative;
}

body {
	display: flex;
	flex-direction: column;
}
	

#contenu #entete, #menu, #map, #footer {
padding:1px 0;
}

#contenu {
	padding-top: 15px;
  	padding-left: 35px;
 	padding-right: 35px;
 	max-with:960px;	
 	margin:auto;
 	margin-bottom: 40px;
}
#main {
	max-with:960px;
	margin:auto;	
}
#menu  {
	float:right;
	width:250px;
	background-color:#edeff1;
	border-radius: 6px;
	height: 600px;
}
#map {
	margin-right:270px;
	background-color:#edeff1;
	border-radius: 6px;
	height: 600px;
}
#graphiques {
	background-color:#edeff1;
	border-radius: 6px;
	height: 200px;
	margin-top: 20px;
}


.contenu_general--left_side {
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	align-items: center;
	width: 60vw;
	height: 900px;
	padding: 20px;
}

.contenu_general--left_side--map
{
	background-color: #edeff1;
  	padding: 5px;
  	position: relative;
 	border-radius: 6px;
	flex-direction: column;
	width: 750px;
	height: 750px;

}


.contenu_general--left_side--under
{
	background-color: #edeff1;
  	padding: 5px;
  	position: relative;
 	border-radius: 6px;
	flex-direction: column;
	width: 750px;
	height: 750px;
}


.contenu_general--right_side
{
	padding:20px;
	height: 900px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;


	border-style: solid;
	border-width: 3px;
	border-color: rgba(0,0,0,0.5);

	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 40vw;
	margin-bottom: 20px;

}

.contenu_general--right_side--parametres
{

	overflow: auto;
	height: 50%;
}

.contenu_general--right_side--parametres
{
	width: 100%;
	background-color: rgba(0,0,0,0.1);

	margin-top:5px;
	margin-bottom:5px;
	padding:10px;
}

.contenu_general--right_side--parametres--nombloc
{
	font-size: 2rem;
}

#contenu_general--right_side--under
{
	padding:5px;
	height: 50%;
	border-style: solid;
}






#head_title{
	text-align: right;
    background-color: grey;
    color: white;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
        height: 50px;
}
.link{
	    text-decoration: none;
    color: white;
}
#LoginButton{
         color: grey;
    background-color: grey;
    height: 50px;
    text-decoration: none;
    /* border-radius: 10px 10px 10px 10px; */
    /* border-color: rgba(165, 157, 157, 0.63); */
    border: none;
    }
    #myButton{
       float: right;
    padding: 10px;
    border-color: grey;
    border-radius: 10px 10px 10px 10px;
    background-color: grey;
    text-decoration: none;
    color: white;
    height: 50px;
    }
#connection{
    margin-left: 5%;
}
#PageLogin{
	    float: left;
}
#interface{
	margin-left: 50px;
    margin-top: 50px;
    float: left;
    border-right: 1px solid gray;
    list-style-type:none;
}
#affichageMesure{
	margin-left: 50px;
    margin-top: 50px;
        display: inline-block;
}
#Boutons-directionels{
	    margin-left: 20%;
}
#ButtonLeft{
    float: left;
}
#ButtonUp{
    margin-left: 30px;
}
#ButtonDown{
    margin-left: 30px;
}
#ButtonRight{
    margin-left: 30px;
}
#mesures{
	display:none;		/*Pour afficher les mesures numériques*/
}
#CheckBox{
	float: right;
    margin-right: 20%;
}
#titres{
	    float: left;
    margin-top: 10px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
}
.LabelTitre{
    margin-bottom: 20px;
    margin-top: 15px;
}

/*BOUTON BORDELIQUE*/

.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}
